.Sidebar
{
    background-image: url(sidebar-image.png);
     height:800px;
   
}

.title
{
	padding-top: 60px;
	padding-left: 40px;
    font-size: 60px;
    text-align: left;
    text-shadow: 2px 2px 2px grey;
    font-family: sans-serif;
    color: white;
}



.display{
   	padding-top: 30px;
   	padding-left: 40px;
    font-size: 30px;
    text-align: left;

    font-family: sans-serif;
    color: white;
}

.name{
	padding-top: 30px;
   	padding-left: 240px;
    font-size: 20px;
    text-align: left;
    font-family: sans-serif;
    color: white;
}

.number{
   	padding-top: 30px;
   	padding-left: 240px;
    font-size: 20px;
    text-align: left;
    font-family: sans-serif;
    color: white;	
}

.questions{
   	padding-top: 30px;
   	padding-left: 240px;
    font-size: 20px;
    text-align: left;
    font-family: sans-serif;
    color: white;	
}


.btn{
    text-align: center;
    height: 80px;
    width: 390px;
    border-radius: 40px;
    border: 1px solid white;
    color:white;
    font-size: 22px;
    background:rgba(255, 251, 240, 0.1)
}


