.first{
	padding-top: 30px;
	padding-left: 60px;   
}


.secondrow{
	padding-left: 60px;
	padding-top: 10px;
	padding-bottom: 10px;

}

.thirdrow{
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right:20px;

}

.displayartists{
	text-align: justify;
	padding-left: 56px;
	font-size: 20px;
	font-family: sans-serif;
	padding-bottom: 40px;
}


.instruction{
    padding-top: 60px;
    text-align: justify;
    font-size: 40px;
    color: black;
	font-family: sans-serif;
}

.detail{
	text-align: justify;
	padding-left: 56px;
    font-size: 20px;
    color: black;
	font-family: sans-serif;
	padding-bottom: 40px;
}

.forbuttons{
	text-align: center;
    height: 80px;
    width: 350px;
    border-radius: 40px;
    border: 1px solid black;
    color:black;
    font-size: 24px;
    background:rgba(0, 0, 240, 0);    
}

.takequiz{
    padding-left: 56px;
}

.searchbutton{
	text-align: center;
    height: 30px;
    width: 150px;
    border-radius: 40px;
    border: 1px solid black;
    color:black;
    font-size: 20px;
    background:rgba(0, 0, 0, 0)
    
}

.display{
        padding-left: 56px;
}


.every{
    padding:10px;
}

.buttondisplay{
    text-align: center;
    height: 70px;
    width: 140px;
    border-radius: 30px;
    border: 1px solid black;
    color:black;
    font-size: 20px;
    }