.

h3 {
    text-align:left;
    text-shadow: 1px 1px 1px grey;

}

#HomeTitle {
    text-align: center;
    text-shadow: 1px 1px 1px grey;
}

p {
	font-family: sans-serif;
}

button {
    text-align: center;
    padding: auto;
    margin: auto;
}

.buttons {
    text-align: center;
}

.title{
	padding:80px;
	height:300px;
}